USE [master]
GO
/****** Object:  Database [Harmic]    Script Date: 24/11/2025 12:16:42 CH ******/
CREATE DATABASE [Harmic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Harmic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Harmic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Harmic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Harmic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Harmic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Harmic]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [nchar](10) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Blog]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[AccountId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BlogComment]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BlogComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[BlogId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_BlogComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Icon] [nchar](10) NULL,
 CONSTRAINT [PK_tb_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Avatar] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](250) NULL,
	[TotalAmount] [int] NULL,
	[Quantity] [int] NULL,
	[OrderStatusId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderStatus]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryProductId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [int] NULL,
	[PriceSale] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[UnitInStock] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Star] [int] NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[CategoryProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Icon] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductReview]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductReview](
	[ProductReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[Star] [int] NULL,
	[ProductId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductReview] PRIMARY KEY CLUSTERED 
(
	[ProductReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 24/11/2025 12:16:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (1, N'admin', N'123456', N'Admin User', N'0123456789', N'admin@example.com', 1, N'2025-09-18', 1)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (4, N'tranml', N'27aea1368d06c858a5893e52ce278cca', N'Trần Mạnh Linh', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (8, N'aethaiba', N'e10adc3949ba59abbe56e057f20f883e', N'Thái Ngô Hưng', NULL, NULL, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Blog] ON 

SET IDENTITY_INSERT [dbo].[tb_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BlogComment] ON 

INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (1, N'Nguyễn Văn A', N'0905123456', N'nguyenvana@example.com', CAST(N'2025-10-08T13:50:40.003' AS DateTime), N'Bài viết rất hay và ý nghĩa. Mình rất thích cách viết của tác giả.', 1, 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (2, N'Lê Thị B', N'0912345678', N'lethib@example.com', CAST(N'2025-10-08T13:50:40.003' AS DateTime), N'Lễ khai giảng năm nay thật hoành tráng, đọc bài thấy nhớ thời học sinh quá.', 1, 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (3, N'Phạm Quang Dũng', N'0977123456', N'dungpham@example.com', CAST(N'2025-10-08T13:50:40.003' AS DateTime), N'Mong năm học mới nhiều thành công, cảm ơn tác giả chia sẻ.', 1, 1)
SET IDENTITY_INSERT [dbo].[tb_BlogComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Icon]) VALUES (1, N'All Items', N'all-items', N'Tất cả danh mục', 1, NULL, NULL, NULL, CAST(N'2025-10-01T12:30:22.810' AS DateTime), N'admin', NULL, NULL, N'1.png     ')
INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Icon]) VALUES (2, N'Rau củ quả', N'rau-cu-qua', N'Danh mục rau củ quả', 2, NULL, NULL, NULL, CAST(N'2025-10-01T12:56:39.653' AS DateTime), N'admin', NULL, NULL, N'2.png     ')
INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Icon]) VALUES (3, N'Trái cây', N'trai-cay', N'Danh mục trái cây', 3, NULL, NULL, NULL, CAST(N'2025-10-01T12:56:39.653' AS DateTime), N'admin', NULL, NULL, N'3.png     ')
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Contact] ON 

INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Bẻo', NULL, NULL, NULL, NULL, CAST(N'2025-10-29T01:07:25.573' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Bẻo', N'123456', N'qbl7@gmail.com', N'Great Job!', NULL, CAST(N'2025-10-29T01:14:01.530' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Bẻo', N'123456', N'qbl7@gmail.com', N'10 điem', NULL, CAST(N'2025-11-08T19:23:00.923' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Customer] ON 

INSERT [dbo].[tb_Customer] ([CustomerId], [Username], [Password], [Birthday], [Avatar], [Phone], [Email], [LocationId], [LastLogin], [IsActive]) VALUES (1, N'customer1', N'pass123', CAST(N'1990-01-01T00:00:00.000' AS DateTime), N'avatar1.jpg', N'0123456789', N'customer1@example.com', NULL, CAST(N'2025-09-18T21:56:58.253' AS DateTime), 1)
INSERT [dbo].[tb_Customer] ([CustomerId], [Username], [Password], [Birthday], [Avatar], [Phone], [Email], [LocationId], [LastLogin], [IsActive]) VALUES (2, N'customer2', N'pass456', CAST(N'1985-05-05T00:00:00.000' AS DateTime), N'avatar2.jpg', N'0987654321', N'customer2@example.com', NULL, CAST(N'2025-09-18T21:56:58.253' AS DateTime), 1)
INSERT [dbo].[tb_Customer] ([CustomerId], [Username], [Password], [Birthday], [Avatar], [Phone], [Email], [LocationId], [LastLogin], [IsActive]) VALUES (3, N'baopdq', N'e10adc3949ba59abbe56e057f20f883e', CAST(N'2025-11-01T00:00:00.000' AS DateTime), NULL, N'0123456789', N'quocbao290705@gmail.com', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Home', N'home', N'Trang chủ', 1, NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'About', N'about', N'Gi?i thi?u', 1, NULL, 2, CAST(N'2025-09-28T16:10:00.000' AS DateTime), N'admin', CAST(N'2025-09-28T16:10:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Shop', N'shop', N'C?a hàng', 1, NULL, 3, CAST(N'2025-09-28T16:10:00.000' AS DateTime), N'admin', CAST(N'2025-09-28T16:10:00.000' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([OrderId], [Code], [CustomerName], [Phone], [Address], [TotalAmount], [Quantity], [OrderStatusId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ORD001    ', N'Customer One', N'0123456789', N'123 Đường ABC, TP.HCM', 95000, 3, 1, CAST(N'2025-09-18T21:56:58.253' AS DateTime), N'user1', CAST(N'2025-09-18T21:56:58.253' AS DateTime), N'user1')
INSERT [dbo].[tb_Order] ([OrderId], [Code], [CustomerName], [Phone], [Address], [TotalAmount], [Quantity], [OrderStatusId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-18T00:04:18.257' AS DateTime), N'guest_921e13ca13ee457ea891cc7e9cd2b5aa', NULL, NULL)
INSERT [dbo].[tb_Order] ([OrderId], [Code], [CustomerName], [Phone], [Address], [TotalAmount], [Quantity], [OrderStatusId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-18T15:52:44.307' AS DateTime), N'guest_1dd7e60a173a4ddda9cfd2c7a1576193', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (3, 2, 14, CAST(45000 AS Decimal(18, 0)), 7)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (4, 2, 12, CAST(100000 AS Decimal(18, 0)), 1)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (5, 3, 13, CAST(45000 AS Decimal(18, 0)), 5)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderStatus] ON 

INSERT [dbo].[tb_OrderStatus] ([OrderStatusId], [Name], [Description]) VALUES (1, N'Pending', N'Đang chờ xử lý')
INSERT [dbo].[tb_OrderStatus] ([OrderStatusId], [Name], [Description]) VALUES (2, N'Shipped', N'Đã giao hàng')
SET IDENTITY_INSERT [dbo].[tb_OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryProductId], [Description], [Detail], [Image], [Price], [PriceSale], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsNew], [IsBestSeller], [UnitInStock], [IsActive], [Star]) VALUES (1, N'Đu đủ ', N'du-du', 1, N'Đu đủ tươi ngon', N'Chi tiết: Đu đủ nguyên chất\', N'1-1-270x300.jpg', 50000, 45000, 100, CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', 1, 0, 100, 1, 5)
INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryProductId], [Description], [Detail], [Image], [Price], [PriceSale], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsNew], [IsBestSeller], [UnitInStock], [IsActive], [Star]) VALUES (2, N'Củ cải đỏ', N'cu-cai-do', 1, N'Củ cải đỏ giòn tan', N'Chi tiết: Củ cải đỏ tự nhiên', N'1-2-270x300.jpg', 30000, NULL, 200, CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', 1, 1, 200, 1, 4)
INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryProductId], [Description], [Detail], [Image], [Price], [PriceSale], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsNew], [IsBestSeller], [UnitInStock], [IsActive], [Star]) VALUES (3, N'Ớt đỏ', N'ot-do', 1, N'Ớt đỏ cay nồng', N'Chi tiết: Ớt tươi Đà Lạt', N'1-2-270x300.jpg', 20000, NULL, 300, CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', CAST(N'2025-09-28T21:16:18.347' AS DateTime), N'admin', 1, 0, 300, 1, 3)
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] ON 

INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'All items', N'all-items', N'Danh mục tất cả sản phẩm', N'1.png', 1, CAST(N'2025-10-01T13:12:38.733' AS DateTime), N'admin', CAST(N'2025-09-18T21:56:58.250' AS DateTime), N'admin', 0)
INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Fresh Fruits', N'fresh-fruits', N'Danh mục trái cây tươi', N'2.png', 2, CAST(N'2025-10-01T13:13:09.337' AS DateTime), N'admin', CAST(N'2025-09-18T21:56:58.250' AS DateTime), N'admin', 1)
INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Vegetable', N'vegetable', N'Danh mục rau củ quả', N'3.png', 3, CAST(N'2025-10-01T13:13:26.683' AS DateTime), N'admin', CAST(N'2025-09-18T21:56:58.250' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductReview] ON 

INSERT [dbo].[tb_ProductReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive]) VALUES (2, N'Nguyễn Văn A', N'0901234567', N'vana@gmail.com', CAST(N'2025-10-06T13:09:01.603' AS DateTime), N'Đu đủ tươi ngon, ăn rất ngọt và mát.', 5, 1, 1)
INSERT [dbo].[tb_ProductReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive]) VALUES (3, N'Lê Thị B', N'0912345678', N'leb@gmail.com', CAST(N'2025-10-06T13:09:01.603' AS DateTime), N'Củ cải đỏ giòn, sạch sẽ, đóng gói đẹp.', 4, 2, 1)
INSERT [dbo].[tb_ProductReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive]) VALUES (4, N'Trần Văn C', N'0923456789', N'tranc@gmail.com', CAST(N'2025-10-06T13:09:01.603' AS DateTime), N'Ớt đỏ cay vừa phải, thích hợp nấu ăn.', 5, 3, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductReview] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Role] ON 

INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'User', N'Người dùng thông thường')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (3, N'Admin', N'Qu?n tr? viên toàn h? th?ng')
SET IDENTITY_INSERT [dbo].[tb_Role] OFF
GO
ALTER TABLE [dbo].[tb_Account]  WITH CHECK ADD  CONSTRAINT [FK_tb_Account_tb_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tb_Role] ([RoleId])
GO
ALTER TABLE [dbo].[tb_Account] CHECK CONSTRAINT [FK_tb_Account_tb_Role]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[tb_Account] ([AccountId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Account]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Category]
GO
ALTER TABLE [dbo].[tb_BlogComment]  WITH CHECK ADD  CONSTRAINT [FK_tb_BlogComment_tb_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[tb_Blog] ([BlogId])
GO
ALTER TABLE [dbo].[tb_BlogComment] CHECK CONSTRAINT [FK_tb_BlogComment_tb_Blog]
GO
ALTER TABLE [dbo].[tb_Menu]  WITH CHECK ADD  CONSTRAINT [FK_tb_Menu_tb_Menu] FOREIGN KEY([ParentId])
REFERENCES [dbo].[tb_Menu] ([MenuId])
GO
ALTER TABLE [dbo].[tb_Menu] CHECK CONSTRAINT [FK_tb_Menu_tb_Menu]
GO
ALTER TABLE [dbo].[tb_News]  WITH CHECK ADD  CONSTRAINT [FK_tb_News_tb_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tb_News] CHECK CONSTRAINT [FK_tb_News_tb_Category]
GO
ALTER TABLE [dbo].[tb_Order]  WITH CHECK ADD  CONSTRAINT [FK_tb_Order_tb_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[tb_OrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[tb_Order] CHECK CONSTRAINT [FK_tb_Order_tb_OrderStatus]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Order]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([ProductId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Product]
GO
ALTER TABLE [dbo].[tb_Product]  WITH CHECK ADD  CONSTRAINT [FK_tb_Product_tb_ProductCategory] FOREIGN KEY([CategoryProductId])
REFERENCES [dbo].[tb_ProductCategory] ([CategoryProductId])
GO
ALTER TABLE [dbo].[tb_Product] CHECK CONSTRAINT [FK_tb_Product_tb_ProductCategory]
GO
ALTER TABLE [dbo].[tb_ProductReview]  WITH CHECK ADD  CONSTRAINT [FK_tb_ProductReview_tb_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([ProductId])
GO
ALTER TABLE [dbo].[tb_ProductReview] CHECK CONSTRAINT [FK_tb_ProductReview_tb_Product]
GO
USE [master]
GO
